html, body, h1, h2, h3, h4, h5, h6, ul, li{
	margin: 0;
	padding: 0;
}

input,select,option,textarea{
}

p{
}

img{
	border: 0;
}

a:link, a:visited{
	text-decoration: none;
	color: #CCC;
	text-shadow: 0px -1px 0px #111;
	transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
}
a:hover, a:active{
	text-shadow: 0px 0px 10px #FFF;
	color: #FFF;
}

.left{
	float: left;
}
.right{
	float: right;
}
.error{
	color: #F00;
	font-size: 1.5em;
}
.info {
	color: #00F;
	font-size: 1.5em;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	font-size: 13px;
	color: #CCC;
	background: url(../images/004.jpg) #000 fixed no-repeat 0% 0%;
	cursor: default;
	padding: 0;
	text-align: center;
	text-decoration: none;
	font-family: "微軟正黑體","Microsoft JhengHei",Arial;
	letter-spacing: 1px;
	line-height: 25px;
}

blockquote{
	padding: 0 0 0 15px;
	margin: 5px 0 5px 20px;
	border-left: 3px solid #EEE;
}
.base{
	margin: 0 auto;
	text-align: left;
	width: 980px;
}

.container{
	float: right;
	width: 630px;
}
.sidebar{
	float: left;
	width: 300px;
}
.sidebar-inner{
	margin-top: 10px;
}
.sidebar-part{
	width: 280px;
	margin: 0 0 25px 0;
}
.sidebar-part-underline{
	margin: 0 0 10px 0;
	display: inline-block;
	width: 280px;
	border-bottom: 1px solid #1A1A1A;
}
.sidebar-part-title{
	font-size: 15px;
	color: #CCC;
	display: inline-block;
	border-bottom: 3px solid #d9d9d9;
}
.sidebar-list{
	list-style: none;
	margin: 0 0 0 5px;
}
.sidebar-list li{
}
.sidebar-menu{
	list-style: none;
	margin: 0 0 0 5px;
}
.sidebar-menu li{
}
.sidebar-menu-toggle{
	display: inline-block;
	width: 11px;
	height: 11px;
	background: transparent url(../images/plus.gif) scroll no-repeat 50% 50%;
}
.sidebar-menu-icon{
	display: inline-block;
	width: 11px;
	height: 11px;
}
.sidebar-submenu{
	list-style: none;
	display: none;
}
.sidebar-submenu li{
	margin: 0 0 0 20px;
}
.sidebar-submenu a{
	text-indent: 10px;
}
.sidebar-comment-content{
	display: block;
	width: 275px;
	overflow: hidden;
	white-space: nowrap;
}

.container-inner{
	margin: 5px 0 0 0;
}

.head{
	width: 630px;
	height: 300px;
	background: transparent url(../images/head.jpg) scroll no-repeat 50% -250px;
	position: relative;
	opacity: 0.8;
}

h1{
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 30px;
	left: 392px;
	width: 160px;
	text-shadow: 0px 5px 3px #777;
}

.blog-description{
	color: #FFF;
	position: absolute;
	top: 60px;
	left: 400px;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 5px 4px #777;
}

.homelink{
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	width: 160px;
	height: 28px;
}

.main{
	width: 630px;
	margin: 20px 0 10px 0;
}

.post-div{
	width: 630px;
	margin: 0 0 10px 0;
}

.post-title{
	width: 630px;
	margin: 0 0 10px 0;
}

.post-content{
	margin: 0 0 10px 0;
}

.clearfix {
   zoom: 1; /* IE6&7 */
}
.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
   clear: both;
}



h4{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
	border-bottom: 1px solid #1A1A1A;
}

.post-title-underline{
	border-bottom: 3px solid #fffff5;
	font-size: 15px;
	display: inline-block;
}

.post-date-span{
	margin: 0 0 0 5px;
}
.post-term{

}
.more-link{
	display: inline-block;
	margin: 20px 0 10px 560px;
}
.single-post-link{
	width: 630px;
	border-top: 1px solid #1A1A1A;
}
.post-prev{
	background: transparent url(../images/post_prev.png) scroll no-repeat 0% 50%;
	float: left;
	margin: 20px 0 0 0;
}
.post-prev a{
	display: inline-block;
	margin-left: 25px;
}
.post-next{
	background: transparent url(../images/post_next.png) scroll no-repeat 100% 50%;
	float: right;
	margin: 20px 0 0 0;
}
.post-next a{
	display: inline-block;
	margin-right: 25px;
}

.footer{
	width: 630px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
.post-link{
	width: 630px;
	border-top: 1px solid #1A1A1A;
	padding: 15px 0 0 0;
	text-align: center;
}
.sidebar-about{
	width: 270px;
	line-height: 25px;
}

#comments{
	position: relative;
	border-top: 1px solid #1A1A1A;
	margin: 10px 0 0 0;
}

#comments-title{
	color: #CCC;
	font-size: 13px;
	padding: 20px 0 0 0;
	font-weight: bold;
	text-shadow: 0px 5px 4px #777;
}

.commentlist{
	margin: 25px 0 0 0; 
}

#case .cse .gsc-control-cse,
#case .gsc-control-cse{
	border: none;
	background: transparent;
}

.light{
	background: #CCC;
	color: #000;
	font-weight: bold;
	display: inline-block;
	height: 25px;
}

#respond{
	border: none;
}
#respond a:hover ,#respond a:active{
	color: #FFF;
}

h3#comments-title, h3#reply-title{
	color: #FFF;
}

.trackback{
	width: 300px;
	margin: 10px;
}

#respond .form-allowed-tags{
	margin: 10px 0 0 0;
}

#searchsubmit{
	margin: 0 0 20px 0;
}
.commentlist li.comment{
	padding-left: 30px;
}
.comment-meta{
	margin-bottom: 15px;
}
.commentlist a:link, .commentlist a:visited{
	text-shadow: 0px -1px 0px #111;
	text-decoration: none;
	color: #CCC;
}
.commentlist a:hover, .commentlist a:active{
	text-shadow: 0px 0px 10px #FFF;
	color: #FFF;
}

span.current{
	display: inline-block;
	border: 1px #FFF solid;
	background: #FFF;
	color: #000;
	height: 25px;
	line-height: 25px;
	width: 25px;
	margin: 5px 5px 0 0;
}

a.page-numbers{
	display: inline-block;
	border: 1px #FFF solid;
	height: 25px;
	line-height: 25px;
	min-width: 25px;
	margin: 5px 5px 0 0;
}

a.page-numbers:hover,a.page-numbers:active{
	color: #000;
	background: #CCC;
}
.shareicon-ul a span {
	visibility: hidden;
}
.shareicon-ul{
	list-style: none;
	margin: 5px 0 15px 5px;
	display: inline-block;
	vertical-align: middle;
}
.shareicon-ul:hover li{
	opacity: 0.2;
}
.shareicon-ul a{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/cute_profiles_sprite32.png) scroll no-repeat 0% 0%;
	margin-right: 5px;
	vertical-align: middle;
}
.shareicon-ul li{
	float: left;
	transition-property: opacity;
	transition-duration: 500ms;
	-moz-transition-property: opacity;
	-moz-transition-duration: 500ms;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
	-o-transition-property: opacity;
	-o-transition-duration: 500ms;
	-ms-transition-property: opacity;
	-ms-transition-duration: 500ms;
}
.shareicon-ul li:hover{
	opacity: 1;
}
a.Plurk{
	background-position: -992px 0px;
}
a.Twitter{
	background-position: -33px 0px;
}
a.Facebook{
	background-position: -65px 0px;
}
a.Sina{
	background-position: 0px 0px;
	width: 31px;
}

.big-red{
	font-size: 32px;
	font-weight: bold;
	color: red;
}

.post-category-link{
	display: inline-block;
	margin: 0 3px 0 0;
}
